name: vidmark_prod

services:
  app:
    image: ghcr.io/vidmark-51/vidmark-app:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80

      - ConnectionStrings__DefaultConnection=Host=${POSTGRES_HOST};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASS};Port=${POSTGRES_PORT}
      - ConnectionStrings__HangfireConnection=Host=${POSTGRES_HOST};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASS};Port=${POSTGRES_PORT}

      - Logging__LogLevel__Default=Information
      - Logging__LogLevel__Microsoft.AspNetCore=Warning

      - Videos__RootDirectory=videos
      - Videos__NginxUrl=https://nginx.vidmark.affectivese.org/videos

      - Reports__RootDirectory=reports
      - Reports__NginxUrl=https://nginx.vidmark.affectivese.org/reports

      - Cors__AllowedDevOrigin=https://vidmark.affectivese.org
      - Cors__AllowedProductionOrigin=https://vidmark.affectivese.org

      - SignalR__HubUrl=/hub/app

      - Limits__MaxBodySizeMb=100
    ports:
      - "18130:80"
    networks:
      - mynetwork
    volumes:
      - videos_data:/app/videos
      - reports_data:/app/reports
      - logs_data:/app/Logs
    restart: unless-stopped

  frontend:
    image: ghcr.io/vidmark-51/vidmark-frontend:latest
    ports:
      - "18131:80"
    networks:
      - mynetwork
    depends_on:
      - app
    restart: unless-stopped

  nginx:
    image: ghcr.io/vidmark-51/vidmark-nginx:latest
    environment:
      - NGINX_HOST=nginx.vidmark.affectivese.org
      - NGINX_PORT=80
    ports:
      - "18132:80"
    networks:
      - mynetwork
    volumes:
      - videos_data:/mnt/videos:ro
      - reports_data:/mnt/reports:ro
    restart: unless-stopped

volumes:
  videos_data:
  reports_data:
  logs_data:
networks:
  mynetwork:
    driver: bridge
