/* Default container for videos */
.video-container-default {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout for two videos */
.video-container-two {
    display: flex;
    justify-content: space-between;
}

/* Grid layout for 3-4 videos */
.video-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 75vh;
    place-items: center;
}

.video-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
}

/* Default video cell */
.video-cell-default {
    width: auto;
    height: 75vh;
}

/* Video cell for two videos */
.video-cell-two {
    width: 50% !important;
    height: auto  !important;
}

/* Video cell for grid layout */
.video-cell-grid {
    height: calc(75vh / 2)  !important;
    width: calc((75vh / 2) * (16 / 9))  !important;
}